@{
    ViewBag.Title = "About";
}
<body style="background-color:darkseagreen">

    <center>
        <img src="https://sylviahubbard.files.wordpress.com/2016/10/healthydlogo.png">  <br />
        <p style="text-wrap:normal; font-family:'Times New Roman', Times, serif; color:#7E3B0A; font-size:large">@SloganHealth.SloganList.GetRandomSlogan()</p>
    </center>
    <h2>@ViewBag.Title</h2>
    <ul>
        <li>    Create a Healthy Detroit community and build stronger relationships between neighbors.</li>

        <li>    Building business in the Health Community around Metro Detroit.</li>

        <li>    Meet people with common interest and hobbies, and celebrate healthy achievement.</li>

    </ul>
    <center>
        <div>
            @Html.ActionLink("Send us a tip!", "Contact")
        </div>
        <a href="http://healthyinthed.azurewebsites.net/Products/Index">Ready for your List and Join our Newsletter</a>
    </center>
    <div>
        @Html.ActionLink("Go Back Home", "Index")
    </div>

    </body>
