@{
    ViewBag.Title = "About";
}
<body style="background-color:darkseagreen">

    <center>
        <img src="https://sylviahubbard.files.wordpress.com/2016/10/healthydlogo.png">  <br />
        <p style="text-wrap:normal; font-family:'Times New Roman', Times, serif; color:#7E3B0A; font-size:large">@SloganHealth.SloganList.GetRandomSlogan()</p>
    </center>
    <h2>@ViewBag.Title</h2>
    <ul>
        <li>    Create a Healthy Detroit community and build stronger relationships between neighbors.</li>

        <li>    Building business in the Health Community around Metro Detroit.</li>

        <li>    Meet people with common interest and hobbies, and celebrate healthy achievement.</li>

    </ul>
    <center>
        <div>
            @Html.ActionLink("Send us a tip!", "Contact")
        </div>
        <a href="http://healthyinthed.azurewebsites.net/Products/Index">Ready for your List and Join our Newsletter</a>
    </center>
    <div>

        <div>
            Hit us up on twitter fam!
        </div>
        <a href="https://twitter.com/ChrisPhill9"><img src="http://vignette3.wikia.nocookie.net/kungfupanda/images/8/83/Twitter-favicon.png/revision/latest?cb=20150407225142" height="30" width="30"/> &#64;ChrisPhill9</a> <br />
        <a href="https://twitter.com/sylviahubbard1"><img src="http://vignette3.wikia.nocookie.net/kungfupanda/images/8/83/Twitter-favicon.png/revision/latest?cb=20150407225142" height="30" width="30" />&#64;sylviahubbard1</a> <br />
        <a href="https://twitter.com/MahdiAfrin"><img src="http://vignette3.wikia.nocookie.net/kungfupanda/images/8/83/Twitter-favicon.png/revision/latest?cb=20150407225142" height="30" width="30" />&#64;MahdiAfrin</a> <br />
        <a href="https://twitter.com/Bmike007111"><img src="http://vignette3.wikia.nocookie.net/kungfupanda/images/8/83/Twitter-favicon.png/revision/latest?cb=20150407225142" height="30" width="30" />&#64;Bmike007111</a> <br />
        <br /> @Html.ActionLink("Go Back Home", "Index")
    </div>
    </body>
