@{
    ViewBag.Title = "Contact";
}
<body style="background-color:darkseagreen">


    <center>
        <img src="https://sylviahubbard.files.wordpress.com/2016/10/healthydlogo.png">  <br />
        <p style="text-wrap:normal; font-family:'Times New Roman', Times, serif; color:#7E3B0A; font-size:large">@SloganHealth.SloganList.GetRandomSlogan()</p>

        <form method="post" name="contact_form" ;
              action="mailto:phillipschris902@gmail.com">
            <pre style="background-color:darkseagreen">
        Name:   <input type="text" name="name" />

                
       Email:   <input type="text" name="bmike000@gmail.com" />

           
       Message:   <textarea name="message"></textarea>
        
            <input type="submit" value="Submit" />
</pre>
        </form>
        <!-------Picture Scrolling------->
        <marquee behavior="scroll" direction="right" scrollamount=10 loop="true" >
            <img src="~/1476811999462_831827.png" />
            <img src="~/1476811999522_521034.png" />
            <img src="~/rsz_1476811968198_694429.jpg" />
            <img src="~/rsz_dequindre_cut_north_before.jpg" />
        </marquee>
        
    </center>

</body> 