@{
    ViewBag.Title = "Contact";
}
<body style="background-color:darkseagreen">

    <center>
        <img src="https://sylviahubbard.files.wordpress.com/2016/10/healthydlogo.png">  <br />
        <p style="text-wrap:normal; font-family:'Times New Roman', Times, serif; color:#7E3B0A; font-size:large">@SloganHealth.SloganList.GetRandomSlogan()</p>

        <!------Send email to HealthyInTheDAzure@gmail.com------>
        <form method="post" name="contact_form" ;
              action="mailto:phillipschris902@gmail.com">
            <pre style="background-color:darkseagreen">
        Name:   <input type="text" name="name" />

                
       Email:   <input type="text" name="HealthyInTheDAzure@gmail.com" />

           
       Message:   <textarea name="message"></textarea>
        
            <input type="submit" value="Submit" />
</pre>
        </form>
        <marquee behavior="scroll" direction="right" scrollamount=10 loop="true" >
            <img src="~/1476811999462_831827.png" />
            <img src="~/1476811999522_521034.png" />
            <img src="~/rsz_1476811968198_694429.jpg" />
            <img src="~/rsz_dequindre_cut_north_before.jpg" />
            <img src="~/pasted image at 2016_10_19 03_48 pm.png" height="163"/>
            <img src="~/pasted image at 2016_10_19 03_48 pm (1).png" height="163"/>
            <img src="~/pasted image at 2016_10_19 03_53 pm.png" height="163"/>
            <img src="~/pasted image at 2016_10_19 03_52 pm.png" height="163"/>
            <img src="~/pasted image at 2016_10_19 03_49 pm (1).png" height="163"/>
            <img src="~/pasted image at 2016_10_19 03_49 pm (2).png" height="163"/>
            <img src="~/pasted image at 2016_10_19 03_49 pm.png" height="163"/>
            <img src="~/pasted image at 2016_10_19 03_50 pm (1).png" height="163"/>
            <img src="~/pasted image at 2016_10_19 03_50 pm.png" height="163"/>
            <img src="~/pasted image at 2016_10_19 04_01 pm.png" height="163" />
            <img src="~/pasted image at 2016_10_19 04_00 pm.png" height="163" />

        </marquee>
        
    </center>

</body> 