@{
    ViewBag.Title = "Contact";
}
<body style="background-color:darkseagreen">
    <h2>@ViewBag.Title.</h2>
    
    <center>
        <img src="https://sylviahubbard.files.wordpress.com/2016/10/healthydlogo.png">  <br />
        <p style="text-wrap:normal; font-family:'Lucida Calligraphy'">@SloganHealth.SloganList.GetRandomSlogan()</p>


        <form method="post" name="contact_form" ;
              action="mailto:bmike0001@gmail.com">
            <pre style="background-color:darkseagreen">
        Name:   <input type="text" name="name" />
                
       Email:   <input type="text" name="bmike000@gmail.com" />
           
       Message:   <textarea name="message"></textarea>
        
                <input type="submit" value="Submit" />
</pre>
        </form>
    </center>
    </body> 