@model CodeBloodedFinal.HealthyD
    @using SloganHealth
@{
    ViewBag.Title = "Home Bag";
}
<body style="background-color:darkseagreen">

    <div class="jumbotron">
        <div style="text-align:center">
            <img src="https://sylviahubbard.files.wordpress.com/2016/10/healthydlogo.png">
            <h1>Healthy In The D</h1>
            <p class="lead">Where Health Conscious Metro Detroiters can network, share, and be educated</p>
            <p><a href="http://healthyinthed.azurewebsites.net/Products/Index" class="btn btn-primary btn-lg">Ready to start? &raquo;</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                If you're ready to meet like minded people who are health conscious <a href="http://healthyinthed.azurewebsites.net/Products/Index">CLICK HERE</a>
            </p>
            <p><a class="btn btn-default" href="http://healthyinthed.azurewebsites.net/Products/Index">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Educated &amp; Network</h2>
            <p>Healthy In The D can help you find local group where you can Network, be Entertained, and Educate with others</p>
            <p><a class="btn btn-default" href="http://healthyinthed.azurewebsites.net/Products/Index">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Come Daily for Tips about Detroit and Health</h2>
            <p>@SloganHealth.SloganList.GetRandomSlogan()</p>
            <p><a class="btn btn-default" href="http://healthyinthed.azurewebsites.net/Products/Index">Learn more &raquo;</a></p>
        </div>
    </div>
    </body>
