
@{
    ViewBag.Title = "Index";
}
<body style="background-color:darkseagreen">
    <h2>Index</h2>

    <center>
        <img src="https://sylviahubbard.files.wordpress.com/2016/10/healthydlogo.png">  <br />
        <p ; font-family:'Lucida Calligraphy'>@SloganHealth.SloganList.GetRandomSlogan()</p>
    </center>

    <form method="post" name="contact_form" ;
          action="mailto:HealthyInTheDAzure@gmail.com">
        Your Name:
        <input type="text" name="name" />
        Email Address:
        <input type="text" name="HealthyInTheDAzure@gmail.com" />
        Message:


        <textarea name="message"></textarea>
        <input type="submit" value="Submit" />
    </form>
    </body>





