
@model CodeBloodedFinal.Models.codeBloodedModel

@{
    ViewBag.Title = "Search Results";
}

//result
<h2>Thank you for searching: @Model.Name</h2>
<h3>Here are the listing for @Model.Zip</h3>
    <div>
        
    </div>
